<%- include("partials/header.ejs") %>

<div class="jumbotron container-fluid">
	<h1> Welcome to Campground's Home Page </h1>	
	<p>
		View our best handpicked campgrounds
	</p>
</div>

<%- include("partials/footer.ejs") %>